@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600&family=Teko:wght@300;400;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-titles: 'Teko', sans-serif;
    --font-parrafo: 'Signika', sans-serif;
}

header {
    background-color: rgb(240, 240, 240);
    padding: 1.6rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .boxTitlePage {
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: end;
    gap: .2rem;
}

header .indexLogo {
    font-family: var(--font-titles);
    font-size: 1.8rem;
    color: rgb(20, 20, 20);
    font-weight: 600;
}

header .punto {
    height: 6px;
    width: 6px;
    border-radius: 2px;
    background-color: rgb(60, 96, 255);
    margin-bottom: 14px;
}

/* background-color: rgb(60, 96, 255); */

header nav {
    display: none;
    position: absolute;
    right: 0;
    top: 5.8rem;
    /* background-color: rgb(7, 10, 26); */
    background-color: rgb(12, 14, 24);
    width: 20rem;
}

header nav.active {
    display: block;
}

header nav ul {
    display: flex;
    flex-direction: column;

}

header nav ul li {

    width: 100%;
    padding: .8rem 2rem;
    border-bottom: 1px solid rgba(20, 20, 20, 0.315);
}

header nav ul li:hover {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: none;
}

header nav ul a {
    font-family: var(--font-parrafo);
    color: rgb(240, 240, 240);

}

header .flex-header {
    padding: 1.6rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .flex-header i {
    font-size: 1.4rem;
    color: rgb(240, 240, 240);

}

header .flex-header i:hover {
    color: rgb(218, 218, 218);
}

header .conteiner {
    position: relative;
    width: 48px;
    height: 22px;
    border-radius: 18px;
    /* background-color: rgb(60, 96, 255); */
    /* background-color: rgb(102, 125, 238); */
    background-color: #536DFE;
}

header .conteiner .toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    /* background-color: rgb(202, 205, 50); */
    background-color: rgb(248, 248, 159);
    left: 3px;
    bottom: 2px;
    cursor: pointer;
    transition: 400ms ease-in-out;
}

header .conteiner .toggle.active {
    left: 28px;
    background-color: rgb(20, 20, 20);
}

header .hamburger {
    width: 22px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}

header .hamburger div {
    width: 16px;
    height: 2px;
    background-color: rgb(20, 20, 20);
}

.conteinerMain {
    height: 100vh;
    width: 100%;
}

.conteinerMain .imgMain {
    background-image: url(imgFondo.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

body.active .imgMain {
    background-image: url(imgFondoDark.jpeg);
    background-color: blue;
}

/* .conteinerMain .imgMain2 {
    background-image: url(imgFondoDark.jpeg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
} */

/* body.active .imgMain2 {
    display: block;
} */

.conteinerContentMain {
    padding: 2rem 2rem;
    height: 100%;
    display: flex;
    /* background-color: yellow; */
}

.conteinerContentMain .boxText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(248, 248, 159); */
    width: 50%;
    gap: .6rem;
    height: 100%;
}

.conteinerContentMain .boxText .title {
    font-family: var(--font-titles);
    color: rgb(20, 20, 20);
    font-size: 3rem;
}

.conteinerContentMain .boxText .h3 {
    font-family: var(--font-titles);
    color: rgb(20, 20, 20);
    font-size: 1.4rem;
}

.conteinerContentMain .boxText .parrafo {
    font-family: var(--font-parrafo);
    color: rgba(20, 20, 20, 0.900);
}

.conteinerContentMain .boxText .btn {
    font-family: var(--font-titles);
    color: rgb(20, 20, 20);
    font-size: 1.4rem;
    /* background-color: rgb(102, 125, 238); */
    background-color: #536DFE;
    padding: .4rem 2rem;
    width: max-content;
    border-radius: 24px;
    margin-top: 1rem;
}



.conteinerContentMain .svgBackground {
    background-image: url(undraw_to_the_moon_re_q21i.svg);
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 44%;
    border-top-right-radius: 24%;
    border-bottom-right-radius: 46%;
    /* background-size: cover; */
}












/* MODE DARK */

/* START HEADER DARK */
body.active header {
    background-color: rgb(20, 20, 20);
}

body.active header .indexLogo {
    color: rgb(240, 240, 240);
}

body.active header .hamburger div {
    background-color: rgb(240, 240, 240);
}

/* END HEADER DARK */

/* START MAIN DARK */

body.active .conteinerContentMain {
    background-color: rgba(20, 20, 20, 0.640);
}

body.active .conteinerContentMain .boxText .title {
    color: rgb(218, 218, 218);
}

body.active .conteinerContentMain .boxText .h3 {
    color: #35428b;
    letter-spacing: 2px;
}

body.active .conteinerContentMain .boxText .parrafo {
    color: rgb(218, 218, 218, 0.900);
}


/* END MAIN DARK */












/* END MODE DARK */



























































/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
    header nav {
        width: 100%;
    }

    .conteinerContentMain {
        flex-direction: column;
    }

    .conteinerContentMain .boxText {
        width: 100%;
    }

    .conteinerContentMain .svgBackground {
        width: 100%;
        background-position: center;
        background-size: cover;
        margin-top: 1.6rem;
        border-radius: 48%;
    }
}